@mixin container {
    max-width: 115rem;
    margin: 0 auto;
    padding: 9.6rem 3.2rem;

    @media (max-width: 68.75em){
        max-width: 100rem;
        padding: 8rem 3.2rem;
    }
    @media(max-width:34.4em){
        padding: 4.4rem 3.2rem;
    }
}

@mixin grid($columns) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: 5rem;
    
    @media (max-width: 75em){
        grid-gap: 4.4rem;
    }
    @media (max-width: 27.2em){
        grid-template-columns: 1fr;

    }
}

@mixin heading {
    font-size: 5.2rem;
    line-height: 1.05;
    color: $heading-color;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;

    @media (max-width: 75em){
        font-size: 4.4rem;
    }
}

@mixin sec-heading {
    @include heading();
    font-size: 3rem;
    line-height: 1.2;
    padding-bottom: 3.6rem;
}

@mixin section-headings {
    p:first-child {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        color: $primary-color;
        padding-bottom: 1.6rem;
        letter-spacing: 0.75px;
        text-transform: uppercase;
    }
    h2 {
        @include sec-heading();
        font-size: 4.4rem;

        @media (max-width: 75em){
            font-size: 3.6rem;
        }
    }
    @media(max-width:34.4em){
        p:first-child{
            font-size: 1.8rem;
        }
        h2{
            font-size: 2.4rem;
            padding-bottom: 0px;
        }
    }
}


@mixin button {
    &:link,
    &:visited {
        background-color: $primary-color;
        padding: 1.5rem 3rem;
        border-radius: 1.2rem;
        color: white;
        cursor: pointer;
        font-size: 2rem;
        display: inline-block;
        transition: all 300ms ease-in-out;
        &:hover{
            background-color: $accent-color;
        }
        &:active{
            transform: scale(.95);
            background-color: $primary-color;
        }
    }
}

@mixin sec-button {
    background-color: white;
    color: $text-color;
    &:hover{
        background-color: #fdf2e9;
        color: $text-color;
        box-shadow: inset 0 0 0 3px white;
    }
}

@mixin tag($bg-color) {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: $bg-color;
    color: $heading-color;
    border-radius: 100px;
    font-weight: 600;
}

@mixin list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    .list-item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
        line-height: 1.2;
        .list-icon {
            width: 3rem;
            height: 3rem;
            color: $primary-color;
        }
    }
}