$primary-color: #e67e22;
$accent-color: #cf711f;
$bg-color: #fdf2e9;
$lighter-text: #6f6f6f;
$text-color: #333;
$heading-color: #555;
$light-gray: #888;
$light-green:#51cf66;
$yellow-green:#94d82d;
$gold-yellow: #ffd43b;