// Imports
@import "Mixins";
@import "Variables";

// General Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
    li {
        list-style: none;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    body {
        font-family: "Rubik", "sans-serif";
        font-weight: 400;
        line-height: 1;
        color: $text-color;
       
        // Navigation //

        header {
            background-color: $bg-color;
            #nav {
                a {
                    color: inherit;
                }
                height: 6.4rem;
                max-width: 120rem;
                padding: 2rem 3.2rem 0rem 3.2rem;
                display: flex;
                align-items: center;
                margin: 0 auto;
                font-size: 1.8rem;
                font-weight: 500;
                #logo {
                    margin-right: auto;
                    img{

                        width: 21rem;
                        height: 8.5rem;
                    }
                }
                #nav-links {
                    display: flex;
                    justify-content: space-around;
                    gap: 2rem;
                    align-items: center;
                    .navElement {
                        padding: 0 1rem;
                        transition: background-color 300ms ease-in-out;
                        &:last-child {
                            padding: 10px 20px;
                            border-radius: 1.2rem;
                            background-color: $primary-color;
                            color: white;
                            cursor: pointer;
                            transition: all 300ms ease-in-out;
                            &:hover{                            
                                background-color: $accent-color;
                            }
                            &:active{
                                transform: scale(.95);
                                background-color: $primary-color;
                            }
                        }
                    }
                }
                #ham{
                    display: none;
                }
            }
        }

        // Hero Section //

        #section-hero {
            background-color: $bg-color;
            .container {
                @include container();
                padding: 6.4rem 3.2rem;
                max-width: 120rem;
                @include grid(2);

                #hero-text-box {
                    .heading-primary {
                        @include heading();
                        margin-bottom: 6.4rem;
                    }
                    .hero-discription {
                        font-size: 2rem;
                        line-height: 1.6;
                        margin-bottom: 4.8rem;
                    }
                    a {
                        @include button();
                        margin-right: 1.6rem;
                        &:nth-child(4) {
                            @include sec-button();
                        }
                    }
                    #customers {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 1.6rem;
                        margin-top: 6.4rem;
                        #customer-images {
                            display: flex;
                            img {
                                width: 5rem;
                                height: 5rem;
                                border-radius: 50%;
                                margin-right: -1.5rem;
                                border: solid 3px white;
                            }
                            img:last-child {
                                margin-right: 0px;
                            }
                        }
                        #description-text {
                            p {
                                font-size: 1.8rem;
                                font-weight: 600;
                                span {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }

                .hero-img-box {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        //Partners
        #section-a {
            #partners {
                @include container();
                padding: 6.4rem 0;
                h2 {
                    color: $light-gray;
                    text-align: center;
                    font-size: 1.8rem;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                    margin-bottom: 8.2rem;
                    font-weight: 500;
                }

                .partner-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    li {
                        img {
                            max-height: 4rem;
                            filter: brightness(0);
                            opacity: 50%;
                        }
                    }
                }
            }
        }

        // Section a

        #section-b {
            // Grid Pattern //
            .container {
                @include container();
                @include section-headings();
                .grid-pattern {
                    @include grid(2);
                    .text-box {
                        .step {
                            font-size: 8.6rem;
                            font-weight: 600;
                            margin-bottom: 1.2rem;
                            color: #ddd;
                        }
                        h3 {
                            font-size: 3rem;
                            line-height: 1.2;
                            margin-bottom: 3.2rem;
                            color: $heading-color;
                        }
                        p {
                            font-size: 2rem;
                            line-height: 1.8;
                        }
                    }
                    .img-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 400px;
                            height: 335px;
                            border-radius: 18px 0px 18px 0px;
                        }
                    }
                }
            }
        }

        // Section c
        #section-c {
            .container {
                @include container();
                padding: 9.6rem 3.2rem 0rem 3.2rem;
                @include section-headings();
                .grid-pattern {
                    @include grid(3);
                    .card {
                        box-shadow: 0 2.4rem 4.8rem rgba($color: #000000, $alpha: 0.075);
                        border-radius: 12px;
                        overflow: hidden;
                        transition: all 250ms ease-in-out;
                        &:hover {
                            transform: scale(1.05, 1.05);
                            box-shadow: 0 3.2rem 6.4rem rgba($color: #000000, $alpha: 0.075);
                        }
                        img {
                            width: 100%;
                            height: 21.9rem;
                        }
                        .card-content {
                            padding: 3.2rem 4.8rem 4.8rem 4.8rem;
                            .card-tags {
                                display: flex;
                                gap: 0.4rem;
                                .tag1 {
                                    @include tag($light-green);
                                }
                                .tag2 {
                                    @include tag($yellow-green);
                                }
                                .tag3 {
                                    @include tag($gold-yellow);
                                }
                            }
                            .card-title {
                                font-size: 2.4rem;
                                margin-bottom: 3.2rem;
                                color: $heading-color;
                                font-weight: 600;
                            }
                            .card-attributes {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;
                                li {
                                    display: flex;
                                    align-items: center;
                                    gap: 1.6rem;
                                    font-size: 1.8rem;
                                    .icon {
                                        color: $primary-color;
                                        height: 2.4rem;
                                        width: 2.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .check-list {
                    .list-heading {
                        @include sec-heading();
                        margin-bottom: 0px;
                    }
                    .list {
                        @include list();
                    }
                }

                .extra-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 6.4rem 0rem;
                    a {
                        color: $primary-color;
                        font-size: 1.8rem;
                        &:hover,
                        &:active {
                            color: $accent-color;
                        }
                    }
                }
            }
        }

        #section-d {
            background-color: $bg-color;
            @include grid(2);
            grid-gap: 0px;
            .container {
                @include section-headings();

                padding: 9.6rem 8rem;
                #testamonials {
                    @include grid(2);
                    row-gap: 4.8rem;
                    column-gap: 6.4rem;
                    img {
                        width: 6.4rem;
                        border-radius: 50%;
                        margin-bottom: 1.2rem;
                    }
                    blockquote {
                        font-size: 1.8rem;
                        line-height: 1.8;
                        margin-bottom: 1.6rem;
                    }
                    p {
                        font-size: 1.6rem;
                        color: $lighter-text;
                    }
                }
            }
            #gallery {
                @include grid(3);
                padding: 0px;
                grid-gap: 1.6rem;
                align-items: stretch;
                figure {
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        transition: all 300ms ease-out;
                        &:hover {
                            transform: scale(1.1, 1.1);
                        }
                    }
                }
            }
        }

        #section-e {
            @include container();
            .headings {
                @include section-headings();
            }
            .container {
                @include grid(2);
                margin: 9.6rem;
                .pricing-plan {
                    background-color: $bg-color;
                    border-radius: 12px;
                    padding: 4.8rem;
                    width: 90%;

                    &:first-of-type {
                        justify-self: end;
                        background: none;
                        border: solid 4px $bg-color;
                        padding: 4.4rem;
                    }

                    .plan-header {
                        text-align: center;
                        margin-bottom: 4.8rem;
                        .plan-name {
                            color: $primary-color;
                            font-weight: 600;
                            font-size: 2rem;
                            text-transform: uppercase;
                            letter-spacing: 0.75;
                            margin-bottom: 3.2rem;
                        }
                        .plan-price {
                            font-size: 6.2rem;
                            font-weight: 600;
                            color: $text-color;
                            margin-bottom: 1.6rem;
                            span {
                                font-size: 3rem;
                                font-weight: 500;
                                margin-right: 0.8rem;
                            }
                        }
                        .plan-text {
                            font-size: 1.6rem;
                            line-height: 1.6;
                            color: $lighter-text;
                        }
                    }
                    .list {
                        @include list();
                    }
                    .plan-cta {
                        text-align: center;
                        margin-top: 4.8rem;
                        a {
                            @include button();
                        }
                    }
                }

                /* --- Flag --- */

                .pricing-plan-2 {
                    position: relative;
                    overflow: hidden;
                }
                .pricing-plan-2::after {
                    content: "Best Value";
                    position: absolute;
                    top: 6%;
                    right: -18%;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: $text-color;
                    background-color: $gold-yellow;
                    padding: 0.8rem 8rem;
                    transform: rotate(45deg);
                }
            }
            .box-container {
                .grid-pattern {
                    @include grid(4);
                    .grid-element {
                        .element-icon {
                            color: $primary-color;
                            background: $bg-color;
                            height: 3.2rem;
                            width: 3.2rem;
                            margin-bottom: 3.2rem;
                            padding: 1.6rem;
                            border-radius: 50%;
                        }
                        .element-title {
                            font-size: 2.4rem;
                            color: $heading-color;
                            font-weight: 700;
                            margin-bottom: 1.6rem;
                        }
                        .element-text {
                            font-size: 1.8rem;
                            line-height: 1.8;
                        }
                    }
                }
            }
        }

        #section-f {
            margin: 9.6rem 0rem 15rem 0rem;
            .container {
                @include container();
                padding: 0px;
                @include grid(2);
                grid-template-columns: 2fr 1fr;
                align-items: stretch;
                overflow: hidden;
                background: $primary-color;
                box-shadow: 0 2.4rem 4.8rem rgba($color: #000000, $alpha: 0.3);
                border-radius: 12px;
                margin-bottom: 4.6rem;
                background-image: linear-gradient(to right bottom, #f3a057, $primary-color);

                .content {
                    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
                    color: #45260a;
                    h2 {
                        font-size: 4.4rem;
                        color: #45260a;
                        margin-bottom: 3.2rem;
                    }
                    p {
                        font-size: 1.8rem;
                        line-height: 1.8;
                    }
                    .form {
                        margin: 25px 0px;
                        display: flex;
                        flex-direction: column;
                        width: 75%;
                        .input-container {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 2rem;
                            label {
                                font-size: 1.8rem;
                                margin-bottom: 1.1rem;
                                font-weight: 700;
                            }
                            .input {
                                font-family: inherit;
                                background: $bg-color;
                                border: none;
                                border-radius: 10rem;
                                padding: 1.2rem 2.4rem;
                                font-size: 1.8rem;
                                &:focus {
                                    outline: none;
                                }
                            }
                            .input::placeholder {
                                color: #aaa;
                            }
                        }
                        button {
                            font-size: 1.8rem;
                            font-weight: 600;
                            color: $bg-color;
                            background: #45260a;
                            line-height: 1.8rem;
                            padding: 1.3rem 2.4rem;
                            border: none;
                            border-radius: 10rem;
                            margin-top: 1.8rem;
                            cursor: pointer;
                            transition: all 300ms ease-out;
                            &:hover {
                                background: $bg-color;
                                color: #45260a;
                            }
                            &:active{
                                transform: scale(.95);
                                background-color: #45260a;
                                color: $bg-color;
                            }
                        }
                        .checkbox__container {
                            font-size: 1.8rem;
                            line-height: 1.6;
                            font-weight: 500;
                            margin: 3.8rem 0rem;
                            .checkbox {
                                transform: scale(1.5);
                                margin: 0rem 1rem;
                            }
                            span {
                                .link {
                                    transition: all 300ms ease-out;
                                    &:hover {
                                        color: $bg-color;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                .section-img {
                    background-image: linear-gradient(
                            to right bottom,
                            rgba(243, 160, 87, 0.35),
                            rgba(230, 125, 34, 0.4)
                        ),
                        url("/Assets/cta-image.jpg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }

        footer {
            border-top: solid 2px #eee;
            .container {
                @include container();
                @include grid(5);
                align-items: stretch;
                .footer-heading {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-bottom: 3.2rem;
                }
                .logo {
                    display: flex;
                    flex-direction: column;
                    column-gap: 2.4rem;
                        img{
                            width: 16rem;
                            height: 7rem;
                            margin-bottom: 2rem;
                            transform: translateY(-2rem);
                        }
                    ul {
                        display: flex;
                        flex-direction: row;
                        li{
                            img {
                                height: 2.4rem;
                                width: 2.4rem;
                                margin-bottom: 1.2rem;
                            }
                        }
                    }
                    .copyright {
                        font-size: 1.4rem;
                        line-height: 1.6;
                        color: #767676;
                        margin-top: auto;
                    }
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;

                    li {
                        a {
                            font-size: 1.6rem;
                            color: $heading-color;
                            &:hover,
                            &:active {
                                color: $lighter-text;
                            }
                        }
                    }
                }
            }
        }
    }
}
@import "Media-queries";